@font-face {
  font-family: 'Brandon Text';
  src: url(./fonts/brandon-text.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Text Bold';
  src: url(./fonts/brandon-text-bold.woff2) format('woff2');
  font-style: normal;
}

* {
  font-family: 'Brandon Text';
}

strong {
  font-family: 'Brandon Text Bold';
}